openpyxl==3.0.10
RandomWords==0.3.0
pyyaml==6.0
pyexcel-ods==0.6.0
requests==2.25.0
python-docx==0.8.11
setuptools~=51.0.0
reportlab==3.6.12
pandas==1.5.2
pandavro==1.7.1
python-pptx==0.6.21
pyspark==3.3.1